<nav class="h-20 xs:px-2 sm:px-4 px-8 py-1.5 flex items-center flex-wrap">
    <img src="/images/knlogolight.png" alt="logo" class="h-full cursor-pointer" routerLink="">
    <div class="ml-auto">
        <a  routerLink="about" 
            routerLinkActive="border-b-8 primary-selected" 
            class="mx-2 px-1 py-2.5 xs:text-sm sm:text-sm text-base hover:border-b-8 hover:text-lg primary">
            Sobre mí
        </a>
        <a  routerLink="projects" 
            routerLinkActive="border-b-8 primary-selected" 
            class="mx-2 px-1 py-2.5 xs:text-sm sm:text-sm text-base hover:border-b-8 hover:text-lg primary">
            Mis Proyectos
        </a>
    </div>
</nav>